﻿/* General Settings*/
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #404041 !important;
    font: 17px HelveticaNeueLT-Light, Helvetica, Arial, Sans-Serif !important;
    margin: 0;
    padding: 0;
}

.tr-selected > td {
  background-color: #e5e5e5;
}
.debug {
  width:300px;
  height:200px;
  overflow-y:scroll;
}
.facet-div {
  height:200px;
  overflow-y:scroll;
}
textarea {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
input, button, select, textarea {
    font-size: 13px;
}
/* BTNS */
.btn-group.unrounded {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 15px;
}
    .btn-group.unrounded .btn
    {
        border-radius: 0;
        background-color: #00a1e1;
        color: #fff;
        background-image: none;
        box-shadow: none;
        border: none;
        -webkit-text-shadow: none;
        text-shadow: none;
        font-size: 16px;
        padding: 4px 12px;
    }
.btn-group.unrounded li {
    float: left;
    margin-right: 20px;
}

.btn-show-results,
.btn-show-results:hover {
    border-radius: 0;
    background-color: #8cc559;
    color: #fff;
    background-image: none;
    box-shadow: none;
    border: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    font-size: 30px;
    line-height: 30px;
    padding: 12px;
    text-transform: uppercase;
}
.btn-show-results.btn-cancel,
.btn-show-results.btn-cancel:hover {
    background-color: #00a0df;
}

.btn-export-group {
    position: relative;
}
.btn-export-group .btn {
    padding: 0 !important;
}
.btn-export-group .btn .btn-text {
    padding: 4px 12px;
    display: inline-block;
}
.btn-export-group .seperator {
    display: inline-block;
    border-left: solid 3px #fff;  
    padding: 4px 8px;  
}
.btn-export-group .seperator .caret {
    border-top: 8px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.btn-export-group .dropdown-menu {
    background-color: #00a0df;
    border: none;
    border-radius: 0;
    padding: 8px;
}
.btn-export-group .dropdown-menu li {
    padding-bottom: 6px;
}

.btn-column-view{
    background-color: transparent;
    display: inline-block;
    padding: 8px 12px 0px 12px;
    border: none;
    border-radius: 0;
}
.btn-column-view:hover{
    background-color: #8cc559;
}
.btn-column-view i{
    display: inline-block;
    width: 27px;
    height: 26px;
    background-image: url('../img/sprite-images.png');
    background-position: -13px -859px;
    background-repeat: no-repeat;
}

.nav-menu {
    display: inline-block;
    width: 26px;
    height: 34px;
    border-radius: 0;
    border: none;
    padding: 0; 
}
.nav-menu:hover,
.nav-menu span:hover {
    background-color: transparent;
}
.nav-menu span {
    display: inline-block;
    width: 26px;
    height: 34px;
    background-image: url('../img/sprite-images.png');
    background-position: -16px -13px;
    background-repeat: no-repeat;
}

.btn-apply {
    border-radius: 0;
    border: none;
    background-color: #77bc1f;
    color: #fff;
}

/* Navbar */
.navbar {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 8px 0 #535354;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-inner {
    background: none;
    border: none;
    border-radius: 0;
    filter: none;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a
{
    color: #000;
    -webkit-text-shadow: none;
    text-shadow: none;
}

#header {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* Welcome User */
#welcomeUser {
    margin: 0;
    padding: 20px 0px 0px;
}
#welcomeUser .welcome-label {
    float: left;
    padding-right: 10px;
}

#welcomeUser a {
    float: left;
    margin: 0;
    padding: 0;
}
#welcomeUser a:hover {
    color: inherit;
}
#welcomeUser a span {
    float: left;
}
#welcomeUser a .user-arrow {
    float: right;
    width: 8px;
    height: 8px;
    background: transparent url('../img/sprite-images.png') -64px -14px no-repeat;
    margin-top: 7px;
    margin-left: 5px;
}
/* Logo */
#logo {
    display: inline-block;
    width: 160px;
    margin-left: 30px;
}

/* Nav > Ember View*/
.ember-view {
    
}
.ember-view select {
    float: left;
    margin: 21px 0 0 20px;
    padding: 5px 15px 5px 5px;
    background: transparent url(../img/bg-title-bar-select.gif) no-repeat 100% 50%;
    border: none;
    -webkit-appearance: none;
    min-width: 175px;
    width: auto;
    height: auto;
    border-radius: 0;
    line-height: normal;
}

.filter-list {
    float: left;
    list-style-type: none;
    margin: 0;
}
.filter-list #unfiltered,
.filter-list #filtered {
    float: left;
    margin-bottom: 0;
    min-width: 54px;
    color: #262261;
    background: url(../img/bg-project-count.png) no-repeat -10px 50%;
    vertical-align: middle;
    padding: 21px 10px 10px 50px;
    text-align: center;
}
.filter-list .ember-value {
    margin-bottom: 3px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: #262261;
    display: inline-block;
}
.filter-list .ember-label {
    display: block;
    min-height: 18px;
    font-size: 65%;
    font-weight: bold;
    text-transform: uppercase;
    color: #666 !important;
    line-height: 1.1em;
}
/* Search Box*/

#searchBox
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none repeat scroll 0 0 #7E8083;
    margin: 20px 0;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
}

#searchBox .row {
    margin: 0;
}

#searchBox .span11 {
    width: 90%;
}
#searchBox .search-row {
    background-color: transparent;
    margin-left: 0;
    padding: 0;
    padding-right: 50px;
    margin-bottom: 10px;
}

#searchInputBox {
    padding-left: 0;
    background-color: #fff;
    margin-left: 60px;
    position: relative;
}
#searchInputBox .query-keyword {
    width: 95.666667%;
}
#searchInputBox .query-options {
    width: 4.333333333333332%;
    padding: 0px;
} 
#searchOption {
    position: absolute;
    right: 20px;
    top: 20px;
}

#search-submit {
    background: url("../img/sprite-images.png") no-repeat scroll -95px -3px #7AC142;
    border: 0 none;
    height: 40px;
    text-indent: -999999px;
    width: 40px;
}
#search-add {
    background: url("../img/sprite-images.png") no-repeat scroll -7px -55px #3fb3e6;
    border: 0 none;
    height: 40px;
    text-indent: -999999px;
    width: 40px;
    margin-right: 10px;
}

/* Searchbox > Well Query */
.query-operators,
.row-fluid .query-operators {
    position: relative;
    overflow: hidden;
    width: 65px;
}
.query-opeartors-arrow {
    background: url("../img/sprite-images.png") no-repeat scroll -160px -138px transparent;
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 5px;
    width: 16px;
    height: 10px;
    margin-top: -5px;
}
.query-operators select{
    background-color: transparent;
    border-radius: 0;
    border: none;
    width: 90px;
    height: 40px;
    padding-top: 8px;
    font-size: 1em;
    padding-left: 0px;
    text-align: left;
    margin: 0;
}

.search-select {
    background-color: #B3B3B3;
    background-image: url("../img/gray_down.png");
    background-position: 40px center;
    background-repeat: no-repeat;
    cursor: default;
    position: relative;
    height: 40px;
    z-index: 11;
    width: 60px;
}
.row div.search-select {
    width: 60px;
    padding-left: 0;
}
.search-select a {
    display: block;
}
.search-select a span {
    width: 40px;
    height: 40px;
    background-image: url("../img/search_dropdown.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
}
.search-select a span.i-projects {
    background-position: -500px -720px;
}

#search-select-dropdown {
    border: none;
    border-radius: 0;
    background-color: #535354;
    top: 38px;
    width: 60px;
    min-width: 50px;

}
#search-select-dropdown li,
#search-select-dropdown a {
    color: #fff;
}
#search-select-dropdown a {
    background-image: url("../img/search_dropdown.png");
    text-indent: -99999px;
}
#search-select-dropdown li.i-projects a{
    background-position: -0px -726px;
}
#search-select-dropdown li.i-documents a{
    background-position: -0px -1446px;
}

.query-keyword {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.query-keyword input {
    border-radius: 0;
    height: 40px;
    border: none;
    margin-bottom: 0;
    padding-right: 40px;
}
.query-options {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 40px;
    background-color: #fff;
}
.query-options .glyphicon{
    color: #B3B3B3;
}
.query-options .icon-white {
    border-radius: 14px;
    background-color: #b3b3b3;
    border-width: 3px;
    border-color: #b3b3b3;
}
.query-options .query-add,
.query-options .query-remove {
    top: 10px;
    position: relative;
    right: 10px;
    cursor: pointer;
}
.query-options .icon-plus {
    padding: 2px;
    background-position: -406px -95px;
}

.query-options .icon-remove {
    padding: 2px;
    background-position: -310px 2px;
    margin-left: 10px;
}

/* Search Queries */
.search-queries-list {
    padding: 0;
    padding-bottom: 20px;
    margin-left: 70px;
}
.search-queries-list  .btn-group {
    background: #C6E9FA;
    border-radius: 0;
    margin-top: 10px;
}
.search-queries-list  .btn-group .btn{
    border-radius: 0;
    background-image: none;
    background-color: transparent;
    border: none;
}

.search-queries-list .btn-group>.btn:first-child {
}

.search-queries-list  .btn-group .btn.icons{
}
.search-queries-list  .btn-group span.btn {
    font-weight: bold;
}
.search-queries-list  .btn-group .btn.icons.fa-cog {
    padding: 4px 6px;
}

.search-queries-list  .btn-group .btn.icons.fa-times-custom {
    background-color: #535354;
    color: #fff; 
    margin: 4px 2px;
    padding: 2px 4px;
}

.search-queries-list  .dropdown-menu {
    border-radius: 0;
    padding: 12px;
    min-width: 250px;
}

.colors-list {
    margin: 0; 
    padding: 0;
    list-style-type: none;
    padding-top: 15px;
}
.color-item {
    display: inline-block;
    margin-right: 20px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ccc;
}
.color-item a {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: inline-block;
    text-indent: -99999px;
}

/* Content */
.main-content {
    display: block;
    margin: 80px 0 50px;
    padding: 0 15px;
}


/* Well */
#dashboard .well {
    padding-top: 20px;
}
.well {
    border-radius: 0;
    background-color: #eaebec;
    border: none;
    box-shadow: none;
    position: relative;
}
.well h5 {
    padding-top: 20px;
    text-align: left;
}
    .well h5.facet-header
    {
        text-transform: uppercase;
        font-size: 2em;
        color: #7e8083;
        font-weight: normal;
        padding-top: 0;
        padding-right: 50px;
        margin: 0;
        margin-bottom: 20px;
        max-width: 100%;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: normal;
        white-space: nowrap;
    }
    #rightColumn .well h5.facet-header {
        font-size: 1.2em;
        line-height: 38px;
    }
.well .graph-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    background-color:rgba(102,104,106,0.7);
    
}

#leftColumn .well .graph-overlay {
    width: 50%;
}

.btn-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.graph-edit-container {
    padding: 20px 20px 60px 50px;
    overflow-y: auto;
    position: relative;
}
.graph-edit-container h4 {
    color: #94d60a;
    font-weight: normal;
    margin-top: 0;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
}
.graph-edit-container .btn.btn-close {
    background-color: transparent;
    top: 20px;
    right: 20px;
    position: absolute;
    border-radius: 0;
    border: 0;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    background-image: url('../img/sprite-images.png');
    background-repeat: no-repeat;
    background-position: -1236px -17px;
}
#rightColumn .well .graph-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    padding: 20px;
    background-color:rgba(102,104,106,0.95);
    overflow-y: auto;
}
.well h5.graph-overlay-header
    {
        text-transform: uppercase;
        font-size: 1em;
        color: #94d60a;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        overflow: hidden;
        white-space: nowrap;
    }
.well .graph-overlay-tree {
    text-align: left;
}


.well-noresults {
    text-align: left;
    font-size: 1.1em;
    color: #999;
}

.well-edit-link,
.well-edit-link:hover {
    color: #94d60a;
    text-transform: uppercase;
    font-size: 1.2em;
    position: absolute;
    right: 80px;
    top: 27px;
    text-decoration: none;
}

/* Well > Switch */
.has-switch {
    border-radius: 28px;
    min-width: 50px;
    background-color: #94d60a;
    border-color: #e4e4e4;
    position: absolute;
    right: 20px;
    top: 22px;
}
.has-switch span {
    width: 30%;
}
.has-switch span.switch-left {
    visibility: hidden;
}
.has-switch span.switch-right {
    width: 44%;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #FFFFFF, #fff);
    position: absolute;
    right: 0;
}
.has-switch label {
    border-radius: 23px;
    width: 40%;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #FFFFFF, #fff);
}

.graph-btns {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.graph-btns .btn-group {
    float: left;
}
.graph-btns .btn-group .btn {
    font-size: 10px;
    border-radius: 0;
    padding: 6px; 
    background-color: #ccc;   
    background-image: url('../img/icon-sprite.png');
    background-position: 4px 0px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 28px;
    height: 22px;
}

/*line*/
.graph-btns .btn-group .btn.line{
    background-position: 4px -360px;
}
.graph-btns .btn-group .btn.line.active{
    background-position: 4px -380px;
}
/*grid*/
.graph-btns .btn-group .btn.grid{
    background-position: 4px -320px;
}
.graph-btns .btn-group .btn.grid.active{
    background-position: 4px -340px;
}
/*bar*/
.graph-btns .btn-group .btn.bar{
    background-position: 4px -702px;
}
.graph-btns .btn-group .btn.bar.active{
    background-position: 4px -722px;
}
/*column, stacked*/
.graph-btns .btn-group .btn.column,
.graph-btns .btn-group .btn.stacked{
    background-position: 4px -280px;
}
.graph-btns .btn-group .btn.column.active,
.graph-btns .btn-group .btn.stacked.active{
    background-position: 4px -300px;
}
/*map*/
.graph-btns .btn-group .btn.map{
    background-position: 4px -200px;
}
.graph-btns .btn-group .btn.map.active{
    background-position: 4px -220px;
}
/*venn*/
.graph-btns .btn-group .btn.venn{
    background-position: 4px -400px;
}
.graph-btns .btn-group .btn.venn.active{
    background-position: 4px -420px;
}

/* Draggable */
.ui-sortable-helper {
    cursor: move;
}
.ui-state-highlight {
    background-color: #fefefe;
    border: dashed 3px #ddd;
    min-height: 250px;
    margin-bottom: 30px;
}


/* Result */

#showResultsBtn {
    padding: 30px 0px;
}
#showResultsBtn .btn-cancel {
    margin-left: 20px;    
}
.result-container {
    padding-top: 30px;
    border-top: solid 1px #b3b3b3;
}
#resultTypeBtns {
    padding-left: 0;
}
#resultTypeBtns .btn{
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin-right: 15px;
}
#resultTypeBtns .btn span {
    font-weight: normal;
    font-size: 9px;
}
#resultTypeBtns .btn h6 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
#resultTypeBtns .btn label {
    font-weight: normal;
}
#resultTypeBtns .btn i {
    background-image: url('../img/sprite-images.png');
    width: 22px;
    height: 22px;
    background-position: -15px -110px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
#resultTypeBtns .btn.active i {
    background-position: -15px -150px;
} 

table.table-result {
    margin: 20px 0px;
}
table.table-result th {
    color: #00a1e1;
}
table.table-result td {
    border-top:  none !important;
    font-size: 14px !important;
    padding: 5px 3px;
    border-bottom: 5px solid #fff;
    background-color: #f2f1f0;
}
table.table-result.table-striped>tbody>tr:nth-child(odd)>td, 
table.table-result.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ebeae8;
}
table.table-result.table>thead>tr>th {
    border-bottom: none !important;
    font-size: 14px !important;
}

.table-pagination {
    background-color: #b3b3b3;
}
.table-pagination .pagination {
    margin: 7px 5px;
}
.table-pagination .pagination li {
    display: inline-block;    
}

.table-pagination .pagination li a {
    border-radius: 0;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    padding: 0px 8px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 14px;
}
.table-pagination .pagination li.active a {
    color: #94d60a;  
    cursor: default;  
    font-size: 17px;
}
    .table-pagination .pagination li .glyphicon-play {
        vertical-align: middle;
    }
    .table-pagination .pagination li.previouspage .glyphicon-play
    {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .table-pagination .pagination li.disabled a:hover {
        background-color: transparent;
        color: #fff;
    } 
/* Modal */
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-small{
    min-width: 300px;
    max-width: 470px;
}

.modal-header{
    border-bottom: none;
}
.modal-title{
    font-weight: normal;
}

.modal-content{
    border: none;
    border-radius: 0;
    background-color: rgba(11, 147, 200, 0.9);
    box-shadow: none;
    color: #fff;
}

.modal-content small, .modal-content span, .modal-content p  {
    color: rgb(51,51,51);
}

.modal-footer{
    border-top: none;
    text-align: center;
}
.modal-footer button.btn{
    border: none;
    border-radius: 0;
    color: #fff;
    background-color: #57595b;
    padding: 3px 9px;
    font-size: 16px;
}
.modal-footer button.btn-save {
    background-color: #77bc1f;
}
.modal-small .panel{
    border-radius: 0;
    background-color: #fff;
    border: none;
}

.modal-small .form-horizontal label {
    font-weight: normal;
    margin-bottom: 10px;
}
.modal-small .form-horizontal input.form-control {
    border-radius: 0;
    border: none;
}

.modal-small .panel-heading {
    position: relative;
}
.modal-small .btn-group.btn-group-right-abs {
    position: absolute;
    right: 8px;
    top: 5px;
    z-index: 5;
}

#saveSearchesAccordion .panel-title a i{
    background: transparent url('../img/glyphicons-halflings.png') -434px -94px no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#saveSearchesAccordion .panel-title a.collapsed i{
    background: transparent url('../img/glyphicons-halflings.png') -408px -94px no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

#saveSearchesAccordion .panel-body table.table{
    margin-bottom: 5px;
}


/*
    LOGIN    
*/
#login{
    font-size: 14px;
}
#login label,
#login div{
    font-size: 14px;
}

/*
    Bootstrap override    
*/
.right{
    text-align: right;
}


/*
    RESPONSIVE
*/
@media (max-width: 767px) {

}

@media (min-width: 768px) {
    #welcome-menu {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #logo {
        width: 120px;
        padding-left: 0;
    }
    .filter-list {
        padding-left: 15px;
    }
    #welcome-menu {
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
    }
    #welcome-menu:hover {
        color: #fff;
    }
    #userMenu {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
    #userMenu ul {
        
    }
    #userMenu ul li {
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 992px) {
    #userMenu {
        display: block;
    }
    #welcomeUser {
        padding-right: 15px;
    }
}

@media (min-width: 1200px) {

}

#debuggingStuff{
    overflow: auto;
    max-height: 500px;
}

/* PDF */
.bodyPdf {

}
.bodyPdf #welcomeUser,
.bodyPdf #searchArea,
.bodyPdf .switch,
.bodyPdf #showResultsBtn,
.bodyPdf #debuggingStuff{
    display: none;
}