﻿@model DocumentSearch.Api.DataTransferObjects.SearchResponse

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html><head>
    <title>Cordell Document Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href="@Url.Content("~/Content/css/bootstrap-switch.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/mozart-plus.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/datepicker.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jstree/default/style.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/print.css")" media="print">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")">
    <meta charset="utf-8" />
</head>
<body>

<div id="Body" class="page">
    <div class="navbar navbar-inverse">
        <div id="header">
            <div class="row">
                <div class="nav pull-left ember-view navbar-nav">
                    <div class="navbar-header">
                        <a id="logo" class="navbar-brand" href="#"><img src="/Content/img/Cordell_CP_Logo_50x137.png">
                        </a>
                    </div>                    
                    
                </div>
                <button id="welcome-menu" type="button" class="btn nav-menu btn-default pull-right" data-toggle="collapse" data-target="#userMenu">
                    <span></span>
                </button>
                <div id="userMenu" class="collapse" role="menu">
                    <ul id="welcomeUser" class="nav pull-right navbar-nav">
                        <li>
                            <span class="welcome-label">Welcome</span> 
                            <a id="userName">
                                <span>@Session["UserName"]</span>
                                <span class="user-arrow">&nbsp;</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div id="content">
        <section class="main-content">
            <div id="searchArea" class="clearfix">
                @using (Html.BeginForm("Index","Home", FormMethod.Get))
                {
                <div id="searchBox">
                    <div class="row">
                        <!-- ko with: $root.currentQuery -->
                        <div class="search-row clearfix">
                            <div class="search-select col-sm-1 col-md-1">
                                <div class="dropdown">
                                    <a id="search-trigger" class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        <span class="i-documents"></span>
                                    </a>
                                </div>
                            </div>
                            <div id="searchInputBox" class="clearfix">
                                <div class="query-keyword col-sm-11 col-md-11">
                                    <input id="queryInput" name="queryInput" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div id="searchOption">
                            <button id="search-submit" type="submit">Search</button>
                        </div>
                    </div>
                </div>
                }
            </div>

            <div class="result-container row clearfix">
                <div class="col-sm-12 col-md-12">
                    <table class="table table-result table-striped">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Document Title</th>
                                <th>Content</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var result in Model.ResultList)
                            {
                            <tr>
                                <td><a href="@result.Url">@result.Id</a></td>
                                <td>@result.Name</td>
                                <td>@Html.Raw(result.Snippet)</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/row-->
        </section>
    </div>
    <!--/.fluid-container-->


</div>
<!--/#body -->


    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="Content/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="Content/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="Content/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="Content/js/jquery.ui.touch.js"></script>
    <script type="text/javascript" src="Content/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="Content/js/bootstrap-switch.min.js"></script>

</body></html>
